{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Вот что я умею</h1>
    <br>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python <b>3.7</b>
        </li>
        <li class="list-group-item">
          Django <b>2.2.19</b>
        </li>
        <li class="list-group-item">
          HTML+ CSS + Bootstrap <b>5.0</b>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        Эта <a href="https://github.com/photometer/yatube-project-bootstrap">
        реализация проекта Yatube</a> доступна на платформе Github автора 
        проекта.
      </p>
    </article>
  </div>
</div>
{% endblock %}